.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }

  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #9eaaee;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  }
  main {
    padding-top: 90px;
    padding-bottom: 150px;
    margin-top: 5px;
  }
  main .card {
    margin-bottom: 20px;
  }

  #myUL {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .caret {
    /* cursor: pointer; */
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
  .btn-dark{
    margin-left:15%;
    margin-left:15%;
    text-align: center;  

  }
  .btn-danger{
    margin-left:15%;
    text-align: center;  
  }
  body{
    background-image: url("/photos/elegant-white-background-with-shiny-lines_1017-17580.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #my_but{
    margin-left:100%;
  }
  .container bg-info p-5{
    background-color:black;
  }
 .navbar navbar-expand-lg navbar-light bg-light{
  background-color:black;
 }