

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background : url(../photos/black_background.jpg);
    background-size: calc(100%);
    font-style:normal;
    font-family: Georgia, 'David', Times, serif
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: none;
    border-bottom: 2px solid #eee;
    border-radius: 2px;
    margin-bottom: 13px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    resize: none;
}


input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    box-shadow: none
}

textarea:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    box-shadow: none;
    resize: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer;
}


.row input[type="submit"]{
    cursor: pointer;
    background: #325561;
    width: 30%;
    font-weight: bold;
    animation-name: submitChangeColor;
    animation-duration: 10s;
}

@keyframes submitChangeColor {
    0%   {background-color: rgba(0, 255, 200, 0.466);}
    25%  {background-color: rgb(25, 212, 236);}
    50%  {background-color: rgb(91, 91, 235);}
    100% {background-color: rgb(142, 28, 207);}
    }


#message {
    text-align: left;
    display:none;
    color: #000;
    position: relative;
    padding: 2px;
    margin-top: 80px;
    width: 400px;
    height: 300px;
  }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
  }
  .address {
    margin-top: 14px !important;
    margin-left: 10px
}

.address span {
    color: #7B1FA2
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}
  .icons i {
    font-size: 20px
}